@mixin max($width) {
    @media (max-width: $width+px) {
        @content;
    }
}

@mixin min($width) {
    @media (min-width: $width+px) {
        @content;
    }
}

@mixin transitionProp {
    transition: 1s;
    @include max(350) {
        transition: .8s;
    }
}

@mixin transitionPadding($height) {
    max-height: $height;
    overflow: hidden;
    padding-top: $height/1.5;
    opacity: 0;
    @include transitionProp;
}

@mixin animatePaddingTop($height) {
    max-height: $height;
    overflow: hidden;
    padding-top: $height/1.5;
    opacity: 0;
}


@mixin marginTop() {
    margin-top: calc(#{$offsetTop} + 3.125rem);
    @include md(margin-top, calc(#{$offsetTop} + 1.325rem));
    @include sm(margin-top, $offsetTop);
}