.single_post {
    @include marginTop();
    @include max(500) {
        margin-top: 100px;
    }
    .container {
        @include max(500) {
            padding: 0;
        }
    }
}

.single_post__wrapper {
    &.fadein {
        opacity: 1;
        transition: .7s .4s linear;
        transform: none;
    }
    transform: translateY(20px);
    opacity: 0;
    background: #fff;
    box-shadow: 0 50px 100px 40px #ccc;
    position: relative;
    @include max(1400) {
        margin: 0 6rem;
    }
    @include lg(margin, 0);
}

.single_post__image {
    margin-top: 5rem;
    padding: 1rem 1rem 0 1rem;
    img {
        width: 100%;
    }
    @include max(500) {
        padding: 0;
    }
}

.single_post__title {
    font-family: 'FuturaBold';
    font-size: 1.5em;
    text-transform: uppercase;    
    margin-top: 3rem;
    @include xs(margin-top, 2rem);
}

.single_post__content_wrapper {
    padding: 0 4rem 4rem 4rem;
    @include sm(padding, 0 2rem 4rem 2rem);
    @include xs(padding, 0 1rem 2rem 1rem);
}

.single_post__content {
    column-count: 2;
    @include md(column-count, 1);
    column-gap: 2em;
    margin-top: 1em;
    p {
        margin-top: 0;
    }
    &, &  * {
        font-family: 'Futura';
        font-size: 1.125em;
        line-height: 1.25;
        @include xs(font-size, 1.05em);
    }
}

.single_post__date {
    margin-top: 2rem;
    @include xs(margin-top, 1rem);
}

.single_post__aside {
    position: absolute;
    right: -100px;
    top: 2px;
    width: 35px;
    height: 100%;
    cursor: pointer;
    @include lg(display, none);
    &.sticky {
        position: fixed;
        top: 130px;
        right: 12%;
    }
    a {
        /* position: sticky;
        top: 150px; элементы дергаются при прокрутке и navbar улетает при открытии меню, потому что для sticky надо убрать overflow у wrapper */
    }
}

.single_post__close {
    width: 100%;
}