.menu_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    transition: .8s;
    transform: translateX(200%);
    padding: 1.5rem 2.75rem;
    box-shadow: -2rem 0 2.5rem rgba(30, 5, 71, 0.35);
    z-index: 100;
    overflow: auto;
    &.active {
        transform: translateX(0);
    }
    @include min(1500) { width: 500px; }
    @include max(1400) { width: 35%; }
    @include xl(width, 40%);
    @include lg(width, 50%);
    @include md(width, 65%);
    @include sm(width, 75%);
    @include xs(width, 95%);
}

.menu_wrapper__close {
    cursor: pointer;
    padding-left: 13px;
}

.menu {
    list-style: none;
    margin-top: 1.75rem;
    li {
        /* padding: 1.5rem 1rem; */
        &.active {
            background: $active;
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }

        &:hover {
            background: $active;
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }

        &:last-child {
            a {
                border-bottom: 1px solid rgba(192, 192, 192, 0.6);;
            }
        }
    }
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba(192, 192, 192, 0.6);
    display: block;
    color: #000;
    svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.5rem;
        width: 28px;
        height: 27px;
        @include sm(margin-right, 1rem)
    }
    @include sm(font-size, 1.25em);
    @include xs(font-size, 1.125em)
}