<div id="app">
    <svg viewBox="0 0 226.8 37.9" style="display: none;">    
        <symbol id="arc">
            <path style="fill:none;stroke-width:2;stroke-miterlimit:10;" class="st0" d="M225.2,36.4H36.4C17.2,36.4,1.6,20.8,1.6,1.5v0"/>
        </symbol>
    </svg>
    <ul class="nav_works">
        <li class="nav_works__item" :class="{ 'active-work': key === filter }" v-for="cat, key in categories" :key="key" @click="setActive(key)">
            {{ cat }}
        </li>
    </ul>
    
    @@include("./work/work.html")
    <div class="grid_wrapper">
        <section class="grid_works">
            <div class="grid_works__item" v-for="work in filtered" :key="work.id" :class="work.category">
                <img :src="work.image" alt="work.name">
                <div class="grid_works__hover">
                    <div class="grid_works__more">
                        <div class="grid_works__link">
                            <a href="#">View project</a>
                        </div>
                        <svg viewBox="0 0 226.8 37.9"><use xlink:href="#arc" /></svg>
                    </div>
                </div>            
            </div>
        </section>
    </div>
</div>