.nav_works {
    list-style: none;
    @include row-flex();
    justify-content: center;
    padding: 1.5rem 5.5rem;
    background: #fff;
    transition: .2s;
    &.shadow {
        box-shadow: 0 2px 6px #b9b9b9;
    }
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
    }
    &.mobile-offset {
        overflow-x: scroll;
        flex-wrap: nowrap;
        white-space: nowrap;
        padding: 0 1rem 0.75rem 1rem;
        width: 101%;
        justify-content: flex-start;
    }
    @include md-block {
        padding: 0.75rem 1rem;
        position: fixed;
        top: 119px;
        left: 0;
        right: 0;
        z-index: 999;
    }
    @include sm(top, 100px);
}

.nav_works__item {
    color: #000;
    font-weight: 800;
    font-family: 'Open Sans';
    border-radius: 2em;
    border: 2px solid #000000;
    font-size: 1.125em;
    padding: .35em 1em;
    margin: .4em .5em;
    cursor: pointer;
    transition: .3s;
    &:hover, &.active-work {
        border-color: $active;
        background-color: $active;
        color: #fff;
    }
    @include max(650) { padding: .35em .8em; }
    @include max(600) { padding: .35em .6em; }
    @include sm-block {
        padding: .35em .5em;
        font-size: 1em;
    }
    @include xs(padding, 0.4em 0.6em);
    @include xs(margin, .4em);
    @include max(350) {
        margin: 0.4em .3em;
        padding: .4em .5em;
    }
    @include max(330) {
        margin: 0.4em .3em;
        padding: .4em .45em;
        font-size: .95em;
    }
}
@include max(500) {
    #detect_change_filter.w-logo {
        & + .grid_wrapper {
            .grid_works__hover {
                display: none;
            }
            img {
                filter: none;
            }
        }
    }
}
.grid_wrapper {
    overflow: hidden;
}
.grid_works {
    /* @include row-flex(); */
    max-width: 95%;
    margin: auto;
    overflow: hidden;
    //filter: blur(5px);
    @include md(margin-top, 245px);
    @include sm(margin-top, 216px);
    @include max(490) { margin-top: 262px;}
    @include xs(margin-top, 267px);
    &.animate-items {
        .grid_works__item {
            animation: animateProjects .3s linear;
        }
    }
/*     &.main-animate {
        animation: mainAnimate 4s ease-out forwards;
    } */
}
.m-minus-top {
    margin-top: -1.875rem;
}
[v-cloak] {
    display: none;
}

@keyframes mainAnimate {
    0% {
        transform: translateY(0);
    }
    20%, 40%, 80% {
        transform: translateY(-150%);
    }
    21%, 41%, 81% {
        transform: translateY(150%);
    }
    95% {
        filter: blur(0);
        transform: translateY(7%);
    }
    100% {
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes animateProjects {
    from {
        transform: translateY(50px);
        filter: blur(5px);
    }
    to {
        transform: translateY(0);
        filter: blur(0);
    }
}

.grid_works__item {
    /* @include col();
    @include size(4);
    @include size-lg(6);
    @include size-sm(12); */
    &.big-z-index {
        z-index: 9999;
    }
    overflow: hidden;
    margin: 1.875rem 0.9375rem;
    position: relative;
    transition: none !important;
    img {
        width: 100%;
        display: block;
        transition: .3s;
    }
    &:hover {
        .grid_works__hover {
            opacity: 1;
            z-index: 1;
        }
        img {
            filter: blur(5px);
        }
        .grid_works__text {
            transform: translateY(0);
            opacity: 1;            
        }
        use {
            animation: drawLine .2s ease-in .3s forwards;
        }
    }
}

.grid_works__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: rgba(13, 82, 255, 0.7);
    transition: .3s;
    display: flex;
    &.hover {
        opacity: 1;
        z-index: 1;
    }
}

.grid_works__more {
    margin: auto;
    text-align: center;
    position: relative;
    svg {
        width: 130%;
        position: absolute;
        left: -32px;
        right: 0;
        bottom: -24px;
        margin: auto;
        @include sm-block {
            left: -26px;
            bottom: -16px;
        }
    }
    use {
        fill: transparent;
        stroke: #fff;
        stroke-dashoffset: -300;
        stroke-dasharray: 300;
    }
}

@keyframes drawLine {    
    to {
        stroke-dashoffset: 0;
    }
}

.grid_works__text {
    opacity: 0;    
    transform: translateY(30px);
    transition: .1s linear .2s;
    position: relative;
    z-index: 2;
}

.grid_works__link {
    font-size: 1.75em;
    @include xl(font-size, 1.5em);
    @include md(font-size, 1.25em);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}