<div id="app">
    <svg viewBox="0 0 226.8 37.9" style="display: none;">    
        <symbol id="arc">
            <path style="fill:none;stroke-width:2;stroke-miterlimit:10;" class="st0" d="M225.2,36.4H36.4C17.2,36.4,1.6,20.8,1.6,1.5v0"/>
        </symbol>
    </svg>
    <ul class="nav_works">
        <li class="nav_works__item" v-cloak 
            :class="{ 'active-work': key === filter }" 
            v-for="cat, key in categories" :key="key" @click="setActiveCategory(key)">
            {{ cat }}
        </li>
    </ul>
    
    @@include("./work/work.html")
    <div class="grid_wrapper">
        <section class="grid_works">
            <masonry
                :cols="{default: 3, 992: 2, 576: 1}"
                :column-class="'m-minus-top'"
                >
                <div class="grid_works__item" v-for="(work, index) in filtered" :key="work.id">
                    <a href="#view_project" class="grid_works__link" @click.prevent="popupProjectToggle(index)">
                        <img :src="work.image" :alt="work.name">
                        <div class="grid_works__hover">
                            <div class="grid_works__more">
                                <div class="grid_works__text">
                                    View project
                                </div>
                                <svg viewBox="0 0 226.8 37.9"><use xlink:href="#arc" /></svg>
                            </div>
                        </div>
                    </a>
                </div>
            </masonry>
        </section>
    </div>
</div>