.modal--contact {
    .contact {
        padding: 0 2rem;
    }
    .modal__overlay {
        background: rgba(0, 0, 0, 0.6);
    }
    .modal__overlay_body {
        @include xl(width, 50%);
        @include lg(width, 40%);
    }
}

.page_contact {
    .contact {
        margin-top: 135px;
        @include md(margin-top, 119px);
        @include sm(margin-top, 100px);
    }
}

body:not(.page_contact) {
    .contact__group {
        @include min(501) {
            @include transitionTranslateY(81px);
        }
    }
    .contact__button {
        @include min(501) {
            @include transitionTranslateY(100px);
        }
    }
    .contact__phone {
        @include min(501) {
            @include transitionTranslateY(80px);
        }
    }
}

.contact__form {
    width: 70%;
    @include xl(width, 75%);
    @include sm(width, 80%);
    @include xs(width, 100%);
    margin: 3rem auto 0;
    input, textarea {
        width: 100%;
        border: none;
        border-bottom: 2px solid #1e0547;
        padding: .75rem 0;
        outline: none;
        font-family: 'Futura', sans-serif;
        color: #1e0547;
        &::placeholder {
            color: #1e0547;
        }
    }
    textarea {
        max-height: 4.5em;
        resize: vertical;
    }
    button {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        margin-top: 2rem;
        background-color: #f05b6e;
        color: #fff;
        display: block;
        text-align: center;
        border-radius: 50px;
        padding: .6em;
        font-size: 1.5em;
        text-transform: uppercase;
        border: none;
        position: relative;
        cursor: pointer;
        &, &:focus {
            outline: none;
        }
        span {
            position: absolute;
            background: url(../../../img/svg/form_arrow.svg) center/contain no-repeat;
            width: 40px;
            height: 14px;
            right: 1em;
            top: calc(0.8em + 2px);
            transition: .2s;
            @include xl(top, calc(0.7em + 2px));
        }
        &:hover span {
            transform: translateX(5px);
        }

        @include xl(padding, .5em);
    }
}

.contact__group {
    margin: 2rem 0;
    position: relative;
    span {
        position: absolute;
        z-index: 2;
        left: 0;
        top: .75em;
        color: #211f47;
        transition: .3s;
        &.label-active {
            top: -1em;
            font-size: .75em;
        }
    }
}

.contact__message {
    margin-top: .75rem;
    color: #fc5656;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    display: none;
}

.contact__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    a {
        text-decoration: none;
        color: #1e0547;
        font-size: 1.25em;
        &:hover {
            text-decoration: underline;
        }
        &:nth-child(2) {
            margin-left: 1.25rem;
            padding-top: 4px;
        }
        img {
            max-width: 32px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            background: url(../../../img/svg/phone.svg) center/contain no-repeat;
            width: 20px;
            height: 20px;
        }
    }
}

.dropline {
    margin: auto;
    opacity: 0;
    @include lg(width, 90%);
}

.dropline_img {
    margin: auto;
    @include lg(width, 90%);
}