.modal--contact {
    .contact {
        padding: 0 2rem;
    }
}

.page_contact {
    .contact {
        margin-top: 135px;
        @include md(margin-top, 119px);
        @include sm(margin-top, 100px);
    }
}

body:not(.page_contact) {
    .contact__group {
        @include min(501) {
            @include transitionPadding(81px);
        }
    }
    .contact__button {
        @include min(501) {
            @include transitionPadding(90px);
        }
    }
    .contact__phone {
        @include min(501) {
            @include transitionPadding(80px);
        }
    }
}

.contact__form {
    width: 70%;
    @include xl(width, 75%);
    @include sm(width, 80%);
    @include xs(width, 100%);
    margin: 2rem auto 0;
    input, textarea {
        width: 100%;
        border: none;
        border-bottom: 2px solid #1e0547;
        padding: .5rem 0;
        margin: 1.25rem 0;
        outline: none;
        color: #1e0547;
        &::placeholder {
            color: #1e0547;
        }
    }
    textarea {
        max-height: 4.5em;
        resize: vertical;
    }
    button {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        margin-top: 2rem;
        background-color: #f05b6e;
        color: #fff;
        display: block;
        text-align: center;
        border-radius: 50px;
        padding: .6em;
        font-size: 1.5em;
        text-transform: uppercase;
        border: none;
        position: relative;
        cursor: pointer;
        &, &:focus {
            outline: none;
        }
        span {
            position: absolute;
            background: url(../../../img/svg/form_arrow.svg) center/contain no-repeat;
            width: 40px;
            height: 14px;
            right: 1em;
            top: calc(0.8em + 2px);
            transition: .2s;
            @include xl(top, calc(0.7em + 2px));
        }
        &:hover span {
            transform: translateX(5px);
        }

        @include xl(padding, .5em);
    }
}

.contact__message {
    margin-top: .75rem;
    color: #fc5656;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    display: none;
}

.contact__phone {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    a {
        text-decoration: none;
        color: #1e0547;
        font-size: 1.25em;
        &:hover {
            text-decoration: underline;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            background: url(../../../img/svg/phone.svg) center/contain no-repeat;
            width: 20px;
            height: 20px;
        }
    }
}