.work__header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5rem 2rem;
    @include max(500) {
        padding: .5rem 1rem;
    }
    min-height: 58px;
    user-select: none;
    &--desk_view {
        @include md-block {
            .work__description {
                display: none;
            }
        }
        @include max(500) {
            .work__arrows {
                display: none;
            }
        }
    }
    @include max(500) {
        .work__navigation {
            display: none;
        }
        .work__info {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.work__name {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.375em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;    
    @include md(font-size, 1.25em);
}

.work__description {
    color: #fff;
    font-size: 1.375em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 1rem;
    @include xl(font-size, 1.125em);
}

.work__view_site {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 200px;
    margin: auto;
    @include max(1100) { display: none; }    
}

.work__navigation {
    display: flex;
    align-items: center;
}

.work__arrows {
    display: inline-flex;
    margin-right: 1rem;
}

.work__arrow {
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    margin: 0 .5rem;
    cursor: pointer;
    &.disabled {
        opacity: .38;
        cursor: auto;
        &:hover {
            .svg_arrow__chevron {
                transform: none;
            }
        }
    }
    &:hover {
        .svg_arrow__chevron--right {
            transform: translateX(4px);
        }
        .svg_arrow__chevron--left {
            transform: translateX(-4px);    
        }
    }
    span {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        user-select: none;
        margin: 0 .6rem;
    }
}

.svg_arrow__chevron {
    transition: .1s;
    &--right.shaking-to-right {
        animation: shakingToRight 1s .5s;
    }    
}

@keyframes shakingToRight {
    0%, 30%, 60%, 100% {
        transform: translateX(0);
    }
    15%, 45%, 75% {
        transform: translateX(4px);
    }    
}

.work__close {
    cursor: pointer;
    width: 36px;
    .line1, .line2,
    .close_icon__arc {
        stroke: #fff !important;
    }
    .close_icon__arc {
        transform: rotate(45deg) translate3d(1px, -1px, 0) scale(.95);
        transform-origin: 40% 48%;
    }
    .line1, .line2 {
        transform: translateY(-2px);
    }
    &:hover {
        .line1 {
            animation: returnRotate2 .2s linear .1s forwards;
        }
        .line2 {
            animation: returnRotate2 .2s linear .1s forwards;
        }
    }
}