.work {
    position: fixed;
    opacity: 0;
    z-index: -1;
    transition: .4s;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    height: 100%;
    &.active {
        z-index: 99999999;
        opacity: 1;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #353535;
    }
}

@import './work-header';

.work__body {
    max-width: 75%;
    margin: 58px auto 0;
    transition: .2s;
    &.hide {
        opacity: 0;
    }
    * {
        width: 100%;
    }
}