h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

.wrapper {
    overflow-x: hidden;
    transition: .5s;
}

body {
    font-family: 'FuturaBold', 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    transition: .5s;    
    transform: translateX(200%);
    &.active {
        transform: translateX(0);
    }
}

.blurred {
    filter: blur(12px);
}

.light_blurred {
    filter: blur(4px);
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: 'FuturaBold';
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    word-spacing: -4px;
    margin-top: 3.125rem;
    margin-bottom: 1.5rem;
}


h1, .h1 {
    @include sm(font-size, 28px);
    @include xs(font-size, 26px);
}

h2, .h2 {
    font-size: 26px;
    margin-top: 3rem;
    margin-bottom: 1.4rem;
    @include sm(font-size, 24px);
}

h3,.h3 {   
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include sm(font-size, 20px);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25em;
    @include md(font-size, 1.75em);
    @include xs(font-size, 1.5em);
}

.order_here a {
    position: fixed;
    top: 300px;
    right: 0;
    background: url(../../img/blog/order_here.png) center/contain no-repeat;
    font-size: 0;
    width: 67px;
    height: 125px;
    @include max(1400) { display: none; }
}

.close_icon {
    width: 40px;
    &:hover, &.animate, &.animate_in_modal {
        .close_icon__arc {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: drawLine .2s linear .32s forwards;
        }
        .line1 {
            transform-origin: 37% 64%;
            transform: rotate(-45deg);
            animation: returnRotate .2s linear .1s forwards;
        }
        .line2 {
            transform-origin: 30% 50%;
            transform: rotate(45deg);
            animation: returnRotate .2s linear .1s forwards;
        }
    }
    &.animate_in_modal {
        .line1 {
            animation: returnRotate2 .2s linear .1s forwards;
        }
        .line2 {
            animation: returnRotate2 .2s linear .1s forwards;
        }
    }
}

@keyframes returnRotate {
    to {
        transform: rotate(0);
    }
}